body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  color: var(--third-color);

  --primary-color: #282c34;
  --secondary-color: #ff7a7a;
  --faded-secondary-color: rgba(255, 122, 122, 0.2);
  --third-color: aliceblue
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttonBox {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.buttonBox button {
  color: var(--third-color);
  background-color: var(--secondary-color);
  font-size: 20px;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(255 122 122 / 35%);
  transition: all .125s linear;
  border: none;
}

.buttonBox button:hover {
  box-shadow: 0 5px 10px rgb(255 122 122 / 50%);
  transform: scale(1.05);
}
