.ActivityModal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(215, 215, 215, 0.4);
    display: flex;
}

.activitySetter {
    position: relative;
    margin: auto;
    width: 90%;
    height: 80%;
    min-width: 200px;
    max-width: 1500px;
    min-height: 300px;
    max-height: 1200px;
    background-color: #3d424b;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.closeIcon {
    font-size: 30px;
    margin: 15px 15px 15px auto;
    display: block;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.activitySetter {

}
