.ActivityForm {
    padding: 10px;
}

.inputContainer {
    padding: 5px;
    margin-bottom: 10px;
}

.ActivityForm input,
.ActivityForm select {
    margin-left: 10px;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding: 2px;
}

#nameInput {
    width: 70%;
    min-width: 150px;
}

#startHourSelect,
#endHourSelect,
#backgroundColorSelect,
#colorSelect,
#daySelect {
    width: 20%;
    min-width: 100px;
}

.buttonBox {
    position: absolute;
    bottom: 40px;
}
