.CreatorButtons {}

.buttonBox {
    width: 100%;
    max-width: 500px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.buttonBox button:first-child {
    width: 100%;
}

.buttonBox button:not(:first-child) {
    flex: 1;
}

#cookiesCheckBox {
    margin-top: 25px;
}

#cookiesCheckBox input {
    padding-top: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#cookiesCheckBox label {
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
