th, td {
    padding: 10px;
    background-color: #3d424b;
    min-width: 30px;
    border: #282c34 1px solid;
}

tbody td {
    height: 50px;
    min-width: 50px !important;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s linear;
}

th {
    color:white;
    font-weight: bold;
}

thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom: #282c34 1px solid !important;
}

thead th:last-child {
    border-top-right-radius: 10px;
}


tbody tr:last-child th {
    border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: scroll;
}

#tableContainer {
    margin-top: 5%;
    border-radius: 10px;
    background-color: #3d424b;
    box-shadow: var(--faded-secondary-color) 0 7px 29px 0 !important;
    overflow-x: auto;
}

#tableContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

#tableContainer::-webkit-scrollbar-track {
    background: #3d424b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#tableContainer::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.scheduledActivity {
    transition: all 0.1s linear;
    cursor: pointer;
}

.scheduledActivity:hover {
    transform: scale(0.9);
    opacity: 0.85;
    border-radius: 15px;
}
